[user]
	email = rishie@rishie.se
	name = Rishie Sharma
[core]
	autocrlf = false
[push]
	default = upstream
	autoSetupRemote = true
[fetch]
	prune = true
[pull]
	rebase = true
[rebase]
	autoStash = true
[merge]
	autoStash = true
[status]
	showStash = true
